:root {
  --primary-color: #607D8B;
  --dark-primary-color: #455A64;
  --light-primary-color: #CFD8DC;
  --text-icons: #FFFFFF;
  --accent-color: #FFEB3B;
  --primary-text: #212121;
  --secondary-text: #727272;
  --divider-color: #B6B6B6;
}

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: #FFFFFF;
}

body {
  margin: 0;
  font-size: 2em;
  font-family: Tahoma, Geneva, Kalimati, sans-serif;
  color: var(--primary-text);
  line-height: 1.6em;
}

#main-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--dark-primary-color);
  padding: 1.3em 3em;
  color: var(--text-icons);
}
#main-header :first-child {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 10px;
}
#main-header :last-child {
  font-size: 0.8em;
  line-height: 1em;
}

bbnh-playlist-item {
  --main-color: var(--primary-color);
  --secondary-color: var(--dark-primary-color);
  --text-color: var(--light-primary-color);
}
