/*
  Color palette:
  #455A64 Dark primary color
  #607D8B Primary color
  #CFD8DC Light primary color
  #FFFFFF Text/icons
  #FFEB3B Accent color
  #212121 Primary text
  #727272 Secondary text
  #B6B6B6 Divider color
*/

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: #FFFFFF;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: Tahoma, Geneva, Kalimati, sans-serif;
  color: #212121;
  line-height: 1.6em;
}

#main-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #455A64;
  padding: 1.3em 3em;
  color: #FFFFFF;
}
#main-header :first-child {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 10px;
}
#main-header :last-child {
  font-size: 0.8em;
  line-height: 1em;
}

bbnh-playlist-item {
    transition: background-color 150ms ease-in-out;
}
bbnh-playlist-item:hover {
    background-color: #CFD8DC;
}
