bbnh-playlist-item {
    transition: background-color 150ms ease-in-out;
}
bbnh-playlist-item:not([downloaded]):hover {
    background-color: darkgreen;
}
bbnh-playlist-item[downloaded]:hover {
    background-color: darkblue;
}
bbnh-playlist-item[playing] {
    background-color: blue;
}
bbnh-playlist-item[paused] {
    background-color: lightblue;
}
bbnh-playlist-item[downloading] {
    animation: downloading 1s infinite ease-out;
}
bbnh-playlist-item[downloaded] {
    animation: downloaded 1s ease-out;
}

@keyframes downloading {
    0% {
        background-color: white;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: white;
    }
}

@keyframes downloaded {
    from {
        background-color: green;
    }

    to {
        background-color: white;
    }
}
